<footer class="ftco-footer ftco-bg-dark ftco-section ft" id="footer">
  <style>
    .ftco-footer-widget p {
      max-width: 100% !important;
      width: auto !important;
      line-height: 1.6;
      text-align: left !important;
    }
  </style>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About FuelAid</h2>
          <p>At FuelAid, we understand that unexpected breakdowns and fuel shortages can be stressful and inconvenient. That's why we're committed to providing fast, reliable, and efficient roadside assistance and fuel delivery services—right when you need them the most. Our dedicated team is always ready to help.</p>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Information</h2>
          <ul class="list-unstyled">
            <li><a href="#about" class="py-2 d-block">About Us</a></li>
            <li><a href="#services" class="py-2 d-block">Our Services</a></li>
            <li><a href="#blog" class="py-2 d-block">Blogs</a></li>
            <li><a href="#faq" class="py-2 d-block">FAQs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Contact & Locate us</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Pipeline Bus Stop Rd, Thrikkakara, Edappally, Ernakulam, Kerala 682021</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91 7736464157</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">fuelaid@gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by FuelAid</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>